.main{
text-align: center;
}
.main h1{
color: orange;
text-align: center;
margin-top: 150px;
font-size: 50px;
} 
.main h2{
text-align: center;
color: white;
font-size: 40px;
}   
.main h3{
color: orange;
text-align: center;
font-size: 30px;
}