.main {
text-align: center;
position: relative;
margin-top: -32px;
margin-left: -15px;
margin-right: -5px;
background: linear-gradient(gray 50%,yellow 20%);
}
.main p{
font-size: larger;
}
.main b{
font-size: x-large;                
}
.main p::before {
content: "✔";
color: green;
font-weight: bold;
margin-left: 70px;
padding-left: 200px;
}