.menu{ 
text-align: center;
position: relative;
background-color: darkblue;
height: 110px;
border-radius: 10px 10px 1px 1px;
margin-top: -10px;
left: -10px;
margin-right: -17px;
}
.menu h1{
padding-right: 200px;
 }
.menu a{
color: white;
margin-left: 10px;
text-align: center;
text-decoration: none;
font-size: x-large
}
.menu a:hover{
color:orange;
cursor: pointer;
}
.gallery{
position: relative;
margin-top: -50px;
grid-template-columns: repeat(3,1fr);
gap: 5px;
}
.M{
    display: none;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-left: -11px;
}